# Virtual Environment
env-emb/
env-class/
.env/
*.pyc
__pycache__/

# train
audios/
embeddings/
raw_audios/
silence/
TVT/
short/
testing/
original/
vgg19_voice_classification.pth

# Inputs Kaggle
Inputs/

# csv _embeddings
embeddings_csv/
*.log
*.csv

# Outpus
outputs/
discarded.txt