# Virtual Environment
R1.5.1/
Class-env/
Emb-env/
.env/
*.pyc
__pycache__/

# train
audios/
embeddings/

# Inputs Kaggle
Inputs/

# csv _embeddings
embeddings_csv/
*.csv

# Outpus
outputs/
custom_model/